.tox
.hatch_data
.tmp
src/*/version.py
.coverage*

# IDEs
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env*/
.venv*/
env*/
venv*/
ENV/
env*.bak/
venv*.bak/
